{% extends './layout.html' %}

{% block title %}
Студенты
{% endblock %}

{% block content %}
<h1 class="ui header">Студенты:</h1>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>name</th>
                <th>surname</th>
                <th>age</th>
                <th>gender</th>
                <th>group_number</th>
                <th>faculty</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td> {{ student.name }} </td>
                <td> {{ student.surname }} </td>
                <td> {{ student.age }} </td>
                <td> {{ student.gender }} </td>
                <td> {{ student.group_number }} </td>
                <td> {{ student.faculty.title }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
