{% extends './layout.html' %}

{% block title %}
Книги
{% endblock %}

{% block content %}
<h1 class="ui header">Книги:</h1>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>title</th>
                <th>published year</th>
                <th>copy count</th>
                <th>authors</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td> {{ book.title }} </td>
                <td> {{ book.published_year }} </td>
                <td> {{ book.copy_count }} </td>
                <td> {% for author in book.authors %}
                    {{ author.surname}} {{ author.name}},
                     {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
