{% extends 'hw/base.html' %}

{% block title %} Клиент {% endblock %}

{% block content %}
    <h2>Клиент магазина</h2>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>E-mail</th>
                <th>Adress</th>
                <th>Registration date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ client.pk }} </td>
                <td>{{ client.name }} </td>
                <td> {{ client.phone }} </td>
                <td> {{ client.email }} </td>
                <td> {{ client.full_adress }} </td>
                <td> {{ client.date_registered }} </td>
            </tr>
        </tbody>
    </table>
{% endblock %}


