{% extends 'hw/base.html' %}

{% block title %} Заказы магазина {% endblock %}

{% block content %}
    <h2>Заказы магазина</h2>
    <nav class="nav1 navbar navbar-expand-lg navbar-light bg-light" style="gap: 20px;">
                <a href="{% url 'hw/orders' %}">Все</a>
                <a href="{% url 'hw/orders_for_days' 7 %}">7 дней</a>
                <a href="{% url 'hw/orders_for_days' 30 %}">30 дней</a>
                <a href="{% url 'hw/orders_for_days' 365 %}">365 дней</a>
    </nav>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Client</th>
                <th>order summ</th>
                <th>Date ordered</th>
                <th>Products</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td> {{ order.pk }} </td>
                <td> {{ order.client.pk }} | {{ order.client.name }} </td>
                <td> {{ order.order_summ }} </td>
                <td> {{ order.date_ordered }} </td>
                <td><a href = "{% url 'hw/order_products' order.pk %}">Товары заказа</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

client = models.ForeignKey(Client, on_delete=models.CASCADE)
    order_summ = models.FloatField(default=0)
    date_ordered = models.DateTimeField(default=timezone.now)
    products
