<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<table>
    <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {{ user.name }}
                </td>
                <td>
                    {{ user.email }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<hr>

<form method="post" action="/users/">
    <label for="name">Name</label>
    <input id="name" type="text" name="name">
    <br>
    <label for="email">e-Mail</label>
    <input id="email" type="email" name="email">
    <br>
    <button type="submit">Create User</button>
</form>

</body>
</html>