{% extends './layout.html' %}

{% block title %}
{{ title }} - {{ super() }}
{% endblock %}

{% block content %}
<h1 class="ui header">Пользователи:</h1>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Full name</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td> {{ user.full_name }} </td>
                <td> {{ user.e_mail }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
