{% extends 'layout.html' %}

{% block title %}
  SignUp - {{ super() }}
{% endblock %}

{% block content %}
  <h1 class="ui header">SignUp</h1>

  <form class="ui segment form" action="{{ url_for('register') }}" method="post">
    {{ form.csrf_token }}

    {% for field in form if field.name != 'csrf_token' %}
      <div class="field">
        {{ field.label }}
        {{ field }}

        {% if field.errors %}
          <div class="ui red pointing basic label">
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}

    <button class="ui button" type="submit">Регистрация</button>
  </form>
{% endblock %}
