<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post">
    <label for="num1">Число 1:</label>
    <input type="number" id="num1" required>
      <br>
      <label for="num2">Число 2:</label>
        <input type="number" id="num2" required>
        <br>
      <label for="operation">Операция:</label>
      <select id="operation" name="operation">
          <option value="add"></option>
          <option value="substract"></option>
          <option value="multiply"></option>
          <option value="divide"></option>
      </select>
      <input type="submit" value="Отправить">
  </form>
</body>
</html>